@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import "swiper/css/pagination";

body{
  overflow-x:hidden;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding:0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1vw;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.bg-zoom {
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}
.bg-zoom:hover {
  background-size: 105% auto;
}
@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  /* a white → black radial‐gradient, but the white stop is fully transparent */
  background: radial-gradient(
    circle at -40% -60%,
    rgba(8, 4, 3, 0)   30%,
    rgba(8,   4,   3,   1) 100%
  );
}

.background-overlay-black{
  background-color: rgba(8, 4, 3, 0.6);
}